<template>
  <div class="flex items-center mb-2">
    <img class="rounded-md h-10 mr-4" v-if="avatar" :src="avatar" alt="" />
    <div class="flex flex-col">
      <h4 class="font-bold text-sm flex items-center p-0">
        {{ message.username }}
        <span class="pl-2 text-gray-500 text-xs font-normal">{{
          localTime
        }}</span>
      </h4>
      <img
        class="rounded-md h-20 mr-4 w-32 mb-1"
        v-if="isImage"
        :src="message.url"
      />
      <span class="text-sm" v-else>{{ message.text }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "ChatMessage",

  props: {
    message: {
      type: Object,
      required: true,
    },
  },

  async created() {
    if (this.message.userAvatar) {
      this.avatar = this.message.userAvatar;
    } else {
      const { url } = await fetch(
        `https://ui-avatars.com/api/?name=${this.message.username}`
      );
      this.avatar = url;
    }
  },

  data() {
    return {
      avatar: null,
    };
  },

  computed: {
    localTime() {
      const date = new Date(this.message.time);
      let hour = date.getHours();
      const isAMorPM = hour <= 11 ? "am" : "pm";
      hour = hour <= 12 ? hour : hour - 12;
      hour = hour == 0 ? 12 : hour;
      let minutes = date.getMinutes();
      minutes = minutes < 10 ? `0${minutes}` : minutes;
      return `${hour}:${minutes} ${isAMorPM}`;
    },

    isImage() {
      return this.message.type == "image";
    },
  },
};
</script>
