<template>
  <div
    class="chatbox overflow-y-auto flex flex-col justify-end border border-gray-200 rounded-md shadow-md p-6"
  >
    <ChatMessage v-for="m in messages" :message="m" :key="m.time" />
    <div class="relative">
      <input
        class="w-full border h-10 rounded-md p-2"
        type="text"
        ref="userTextInput"
        placeholder="Message"
        v-model="userText"
        @keyup="emitTyping"
        @keyup.enter="send"
      />
      <button
        class="absolute right-1.5 top-1 text-gray-400 p-1 rounded-md hover:bg-blue-100"
        @click="send"
      >
        Send
      </button>
    </div>
    <div class="text-xs mt-1 pl-1 h-2">
      <span v-show="activeTyper"> {{ activeTyper }} typing... </span>
    </div>
  </div>
</template>

<script>
import ChatMessage from "./ChatMessage";

export default {
  name: "ChatBox",
  props: {
    socketConnection: {
      type: Object,
      required: true,
    },
    user: {
      type: String,
      required: true,
    },
  },

  components: {
    ChatMessage,
  },

  async created() {
    const { url } = await fetch(
      `https://ui-avatars.com/api/?name=${this.user}`
    );
    this.userAvatar = url;
  },

  mounted() {
    const vm = this;
    vm.$refs.userTextInput.focus();

    vm.socketConnection.on("is-typing", (typers) => {
      const activeTypers = Object.entries(typers).filter((entry) => entry[1]);
      const typer =
        activeTypers.length > 1 ? "People are" : `${activeTypers[0][0]} is`;
      vm.activeTyper = typer;
      setTimeout(() => (vm.activeTyper = ""), 3000);
    });

    vm.socketConnection.on("message", (message) => {
      let msgObj = { ...message };
      if (vm.userSent) {
        msgObj = { ...msgObj, userAvatar: vm.userAvatar };
      }
      vm.messages.push(msgObj);
      vm.userSent = false;
    });
  },

  data() {
    return {
      userText: "",
      userSent: false,
      messages: [],
      userAvatar: null,
      activeTyper: "",
    };
  },

  methods: {
    send() {
      this.userSent = true;
      if (this.gyphyQuery) {
        this.sendGif();
      } else {
        this.sendText();
      }
    },

    sendText() {
      this.socketConnection.emit("text-message", this.userText);
      this.userText = "";
    },

    async sendGif() {
      const api_key = "yX0vM57fvw8Is67HBVYaXmS0b2GyOHnH";
      const requestUrl = "https://api.giphy.com/v1/gifs/search";
      const { data } = await fetch(
        `${requestUrl}?api_key=${api_key}&q=${this.gyphyQuery}`
      )
        .then((res) => res.json())
        .then((data) => data);

      const { images, title } = data[0];
      this.socketConnection.emit("image-message", {
        url: images.original.url,
        alt: title,
      });
      this.userText = "";
    },

    emitTyping() {
      this.socketConnection.emit("typing", true);
    },
  },

  computed: {
    gyphyQuery() {
      if (this.userText.includes("/gif")) {
        const targetIndex = this.userText.indexOf("/gif");
        return this.userText.slice(targetIndex + 4);
      }
      return false;
    },
  },
};
</script>

<style scoped>
.chatbox {
  height: 700px;
  width: 600px;
}
</style>
