<template>
  <div
    class="login-card border border-gray-200 rounded-md shadow-md hover:shadow-xl p-10"
  >
    <h1 class="text-3xl">Join Chat</h1>
    <div class="mt-10">
      <label class="text-sm font-bold">Please enter your username</label>
      <input
        class="w-full border h-10 rounded-md p-2"
        type="text"
        v-model="userText"
        @keyup.enter="joinChat"
      />
    </div>
    <div class="w-full flex justify-end mt-10">
      <button
        class="border rounded-md bg-yellow-500 text-white font-bold px-4 py-2"
        @click="joinChat"
      >
        Next
      </button>
    </div>
  </div>
</template>

<script>
import io from "socket.io-client";

export default {
  name: "Login",

  data() {
    return {
      userText: "",
      hasJoinedChat: false,
    };
  },

  methods: {
    joinChat() {
      const vm = this;
      const socket = io(
        `https://pager-hiring.herokuapp.com/?username=${this.userText}`
      );
      socket.on("user-connected", (username) => {
        vm.$emit("userHasJoinedChat", socket);
        vm.$emit("setUser", username);
      });
    },
  },
};
</script>

<style scoped>
.login-card {
  width: 560px;
  height: 330px;
}
</style>
