<template>
  <div id="app" class="flex justify-center items-center">
    <!-- Live link: https://vicks-pager-chat-app.netlify.app/ -->
    <Login
      @setUser="user = $event"
      @userHasJoinedChat="showChatBox"
      v-if="!userHasJoinedChat"
    />
    <ChatBox :user="user" :socketConnection="socketConnection" v-else />
  </div>
</template>

<script>
import Login from "./components/Login.vue";
import ChatBox from "./components/ChatBox.vue";

export default {
  name: "App",

  components: {
    Login,
    ChatBox,
  },

  data() {
    return {
      userHasJoinedChat: false,
      socketConnection: null,
      user: null,
    };
  },

  methods: {
    showChatBox(socketConnection) {
      this.socketConnection = socketConnection;
      this.userHasJoinedChat = true;
    },
  },

  watch: {
    socketConnection(newConnection) {
      newConnection.on("user-disconnected", (username) => {
        console.log(`${username} has disconnected`);
        if (username == this.user) {
          this.userHasJoinedChat = false;
        }
      });
    },
  },
};
</script>

<style>
#app {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 100vh;
}
</style>
